---
layout: ""
page_title: "Provider: readthedocs.org"
description: |-
  Readthedocs.org API provider for creating projects.
---

# readthedocs Provider

Readthedocs.org API provider for creating projects.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
